.team-members_notification_num {
  height: 20px;
  width: 20px;
  background-color: #ff3a3a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  border-radius: 9999px;
}
