.sustainability-top-heading {
  border-bottom: 1px solid #eeeeee;
  padding: 20px 100px;
  margin-bottom: 20px;
}

.sustainability-top-heading h1 {
  padding: 0 10px;
  font-weight: 400;
  font-size: 1.5rem;
}

.charts-container {
  padding: 30px 100px;
  background-color: #f9f9f9;
}

.charts-container h2 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 14px;
  /* white-space: nowrap; */
}

.sustainability-section_heading {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 22px;
  margin-bottom: 20px;
}

.sustainability-heading {
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.sustainability-heading_container {
  padding: 40px 10px 60px 10px;
  overflow: hidden; /* To ensure the pseudo-elements are contained */
  margin-bottom: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../assets/sustainabilityReport/sustainabilityHeading.png");
  background-color: white;
  border-radius: 16px;
}

.sustainability-heading_title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sustainability-heading_title h1 {
  font-size: 30px;
  font-weight: 600;
}

.sustainability-heading_title h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

.sustain-subheading-h2 {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
}

.chart-left-label {
  font-weight: 600;
  font-size: 12px;
}

.sustain-base-grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr; /* 1st column is small, next 2 columns are equal width */
  gap: 16px; /* Optional: Add some spacing between columns */
  width: 100%; /* Ensures the grid takes up the full width of its container */
}

.sustain-base-grid-item {
  padding: 16px;
  border: 1px solid #ddd; /* Optional: Border for grid items */
}

.sustain-base-small-column {
  grid-column: 1 / 2; /* Specifies the 1st column */
}

.sustain-base-equal-column {
  grid-column: span 1; /* Specifies the 2nd and 3rd columns */
}

.sustain-environmental-grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr; /* 1st column is small, next 2 columns are equal width */
  gap: 16px; /* Optional: Add some spacing between columns */
  width: 100%; /* Ensures the grid takes up the full width of its container */
}

.sustain-environmental-grid-item {
  padding: 16px;
  border: 1px solid #ddd; /* Optional: Border for grid items */
}

.sustain-environmental-small-column {
  grid-column: 1 / 2;
  padding: 16px;
}

.sustain-environmental-equal-column {
  grid-column: span 1; /* Specifies the 2nd and 3rd columns */
}

.half-doughnut-legend {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 400;
}

.base-sector-card_title {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 6px;
}

.base-sector-card_grade {
  font-weight: 500;
  font-size: 14px;
}

.grading-section {
  margin-bottom: 60px;
}

.disclaimer-div {
  margin-top: 60px;
}

.disclaimer-div h3 {
  margin: 0 0 10px 0;
  font-size: 11px;
  font-weight: 500;
  line-height: 16.94px;
}

.disclaimer-div ul {
  margin-left: 15px;
  list-style: decimal;
}

.disclaimer-div ul li {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 5px;
}

.sustainability-bottom_div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  padding: 20px 90px;
  border-top: 1px solid #dbdbdb;
}

.verification-btn {
  padding: 12px 18px;
  border-radius: 6px;
  font-size: 1rem;
  color: #fff;
  border: none;
  cursor: pointer;
  background: linear-gradient(102deg, #369d9c 0%, #28814d 100%);
}

.btn-no_borders {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.expert-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px 20px 30px;
  border: 1px solid #dbdbdb;
  padding: 15px;
}

.expert-left_div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.expert-left_div h2 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
}

.expert-left_div h3 {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 24px;
}

.expert-right_div {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 10px 0 0;
}

.expert-right_div .book-btn {
  cursor: pointer;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #699191;
  font-size: 0.8rem;
  padding: 12px;
  color: #699191;
  width: 200px;
}

.expert-right_div .close-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
